@use "mixins";
@import "globals";

:root {
  --modal-width: 250px;
  --modal-height: auto;
  --default-padding: 16px;

  .app-modal {
    @include mixins.app-modal;
  }

  .hidden {
    display: none !important;
  }
}
