<mat-toolbar color="primary" class="header">
  <button mat-icon-button aria-label="Back" class="back-button" *ngIf="showBackButton" (click)="back()" data-prevent-unselect-row="true">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <span class="header-title">{{ title() }}</span>

  <span class="header-spacer"></span>

  <button mat-button *ngIf="(currentUser$ | async) as user" class="logout-button" (click)="logOut()">
    <div class="button-content">
      <span class="user-name">{{ user.login }}</span>
      <mat-icon>person</mat-icon>
    </div>
  </button>
</mat-toolbar>
