<ng-container *ngIf="!dataLoading(); else loading">
  <div class="table-wrapper">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource()" matSort>

        <ng-container *ngFor="let _field of displayedColumns()" [matColumnDef]="_field">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ _displayFieldLabels[_field] }} </th>
          <td mat-cell *matCellDef="let element" [attr.data-id]="_field === 'title' ? element.id : undefined"> {{ element[_field] }} </td>

          <ng-container *ngIf="userRole === 'admin'">
            <td mat-footer-cell *matFooterCellDef>{{ getFooterValue(_field) }}</td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
        <tr #tableRow
            mat-row
            data-prevent-unselect-row="true"
            [tabindex]="selectable() ? 0 : -1"
            *matRowDef="let row; columns: displayedColumns();"
            (keydown.enter)="onEnterPressed($event, row)"
            (focus)="onFocusRow($event, row)"
            (blur)="onBlurRow($event, row)"
            (click)="onRowClicked($event, row)"
        ></tr>

        <ng-container *ngIf="showFooterRow() && userRole === 'admin'">
          <tr mat-footer-row *matFooterRowDef="displayedColumns()" [ngClass]="{'hidden': !selectedPost}"></tr>
        </ng-container>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true"
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loader [message]="'Загрузка данных...'"></app-loader>
</ng-template>
