<app-header [title]="'Posts manager'"></app-header>

<app-content-with-buttons-layout class="reversed">
  <app-posts-table
    main-content
    [showFooterRow]="true"
    [dataLoading]="dataLoading"
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [displayFieldLabels]="displayFieldLabels"
    [displayFieldLabelsShort]="displayFieldLabelsShort"
    [initialPostId]="postsService.selectedPost?.id"
    (postClicked)="goToDetails($event)"
  ></app-posts-table>

  <ng-container buttons-content #buttonsContent>
    <ng-container *ngIf="!dataLoading">
      <button mat-flat-button (click)="refreshData()" class="update-data-btn" color="primary">{{ 'Обновить' }}</button>
    </ng-container>
  </ng-container>

</app-content-with-buttons-layout>
